<%= nested_form_for [@post, @comment], html: { multipart: true } do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
        <% comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <%= form.fields_for :attachment, @cmt_attachment do |attachment_form| %>
    <%= attachment_form.file_field :attachment %>
    <%= attachment_form.hidden_field :attachment_cache %>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
