<%= nested_form_for @post, html: { multipart: true } do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :tweet %>
    <%= form.text_area :tweet %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, options_for_select(Post.statuses.keys, form.object.status) %>

  </div>

  <%= form.fields_for :attachment, @attachment do |attachment_form| %>
    <%= attachment_form.file_field :attachment %>
    <%= attachment_form.hidden_field :attachment_cache %>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
