<%= link_to 'Back', posts_path %>
<div class="post_like_<%= @post.id %>">
  <%= render 'posts/post_like', post: @post %>
</div>

<p>
  <strong>Tweet:</strong>
  <%= @post.tweet %>
</p>

<p>
  <strong>Status:</strong>
  <%= @post.status %>
</p>

<p>
  <strong>Attachment:</strong>
  <%= @attachment.try(:attachment) %>
</p>

<% if @post.Published? %>
  <%= render 'comments/form', comment: @comment %>
  <hr>
  <% @comments.each do |comment| %>
    <div class="comment_like_<%= comment.id %>">
      <%= render 'posts/comment_like', comment: comment %>
    </div>
    <p>
      <strong>Body:</strong>
      <%= comment.body %>
    </p>

    <p>
      <strong>Comment:</strong>
      <%= comment.attachment.try(:attachment) %>
    </p>

    <p>
      <strong>User:</strong>
      <%= comment.user.email %>
    </p>
    <% if comment.user == current_user %>
      <%= link_to 'Edit', edit_comment_path(comment) %>
      <%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
    <hr>
  <% end %>
<% end %>
